*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    gap: 50px;
    width: 350px;
    align-items: center;
}

.circle{
    height: 50px;
    width: 50px;
    border: 4px solid brown;
    background-color: blanchedalmond;
    border-radius: 100px;
    z-index: 1;
}

.progressLine{
    width: 100%;
    border-bottom: 4px solid brown ;
    position: absolute;
}